body{
    background-color:rgb(179, 148, 90);
}

#main-container{
    background-color: aqua;
    position: relative; height: 300px; width:80% ; left: 130px;
    margin-top: px;

}
#second-container{
    background-color:brown;
    align-content: center;
    position: relative; height: 600px; width:70% ; left: 190px;
    margin-top: 120px;

}
#third-container{
    background-color: blue;
    position: relative; height: 600px; width:70% ; left: 190px;
    margin-top: 120px;

}
.title2 {
    background-color: blueviolet;
    position: relative; height: 300px;
}

.nav {
    height: 100vh;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
nav ul li {
    list-style: none;
    display: inline-block; 
    padding: 10px 20px;
}
nav ul li a{
text-decoration: none;
font-weight:bold;
}
nav ul li a:hover{
    color: burlywood;
    
}
.d1 {
    background-color: black;
    width: 25%;
    height: 300px;
}
.d2 {
    background-color: black;
   position: relative; width: 25%; height: 300px; left: 220px; bottom: 300px;
   
}
.d3 {
    background-color: gold;
    position: relative; width: 25%; height: 300px; left: 440px; bottom: 600px;
}
.d4 {
    background-color: black;
    position: relative; width: 25.4%; height: 300px; left: 660px; bottom: 900px;
}
.abt {
    text-align: center;
    font-weight: bold;
}
div.pg2 h2 p{
text-align: center;

}
.btn {
    position: relative; top: 170px; left: 20px;
    border-radius: 25px ;
    background-color: rgb(0, 0, 0);
    color: burlywood;
    width: 100px;
    height: 30px;
    box-shadow: 100px;
    z-index: 7;
}






/*----Start of Carousel CSS Properties ----*/
#carouseL {
    width: 100%;
    text-align: center;
    font-family: Trebuchet MS;
    display: block;
    font-size: 6vmin;
}
#carouseL > div {
    position: absolute;
    top: 4em;
    left: 0;
    width: 100%;
    transition: transform 0.5s;
    transform: scale(0);
}
#carouseL > div > div {
    padding: .4em;
}

#carouseL > div > div  p {
    display: block;
    margin-block-start: .5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

  #carouseL > div label {
    cursor: pointer;
    background: #d9ff4f;
    padding: 0.1em 1em;
  }
  #carouseL #page1cb:checked ~ #page1 {
    transform: scale(1);
  }
  #carouseL #page2cb:checked ~ #page2 {
    transform: scale(1);
  }
  #carouseL #page3cb:checked ~ #page3 {
    transform: scale(1);
  }
  #carouseL #page4cb:checked ~ #page4 {
    transform: scale(1);
  }
  #carouseL #page5cb:checked ~ #page5 {
    transform: scale(1);
  }

/*----End of Carousel CSS Properties ----*/