#carouseL {
    width: 100%;
    text-align: center;
    font-family: Trebuchet MS;
    display: block;
    font-size: 6vmin;
  }
  #carouseL > div {
    position: absolute;
    top: 2em;
    left: 0;
    width: 100%;
    transition: transform 0.5s;
    transform: scale(0);
  }
  #carouseL > div > div {
    padding: 3em;
  }
  #carouseL > div label {
    cursor: pointer;
    background: #d9ff4f;
    padding: 1em 2em;
  }
  #carouseL #page1cb:checked ~ #page1 {
    transform: scale(1);
  }
  #carouseL #page2cb:checked ~ #page2 {
    transform: scale(1);
  }
  #carouseL #page3cb:checked ~ #page3 {
    transform: scale(1);
  }
  #carouseL #page4cb:checked ~ #page4 {
    transform: scale(1);
  }
  #carouseL #page5cb:checked ~ #page5 {
    transform: scale(1);
  }